<div class="container"> <%= link_to "New Pet", new_pet_path %> </div>
<div class="container">
  <div class="row">
    <% @pets.each do |pet| %>
    <div class="col">
      <div class="pet">
        <h1><%= pet.title %></h1>
        <h2><%= pet.name %></h2>
        <p><%= pet.description %></p>
        <p><%= link_to "Show", pet_path(pet) %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
