<div class="home">
  <button class="button-map">Show on map<%= link_to "", pets_path %></button>
<div>
  <%= link_to "New Pet", new_pet_path, class:"btn-primary"%>

<div class="pet-grid">
  <div class="row">
    <% @pets.each do |pet| %>
      <div class="co-12 col-sm-6 col-md-3 mb-3">
        <div class="pet-ad">

          <%=image_tag 'pomeranian.jpg', class: "pet-img-tag"%>

          <div class="pet-infos">
              <h3><%= pet.title %></h3>
              <h3><%= pet.name %></h3>
              <p>80.00 euros</p>
              <div class="show-button"><p><%= link_to "Show", pet_path(pet) %></p></div>
          </div>

        </div>


      </div>
    <% end %>
  </div>
</div>
</div>
</div>
