<div class="home">
  <div>

      <div class="home-bar">
        <div class="home-bar-item"><button type="button" class="input-group-text border-0"><i class="fa-solid fa-plus"></i><%= link_to " New Pet", new_pet_path%></button></div>
        <div class="home-bar-item">

        <form class="input-group rounded">
          <input class="form-control rounded" name="query" type="search" placeholder="Search" aria-label="Search" value="<%= params[:query] %>">
          <button class="input-group-text border-0" type="submit">Search</button>
        </form>


        </div>
      </div>

    <div class="pet-grid">

       <% if @query %>
          <p>You searched for <strong><%= @query %></strong>. We found <%= @pets.count %> pets matching your query on our website.</p>
        <% else %>
          <h1>Find your new furry friend among our <%= @pets.count %> pets</h1>
        <% end %>


        <div class="row">
          <% @pets.each do |pet| %>

        <div class="co-12 col-sm-6 col-md-3 mb-3">
              <%= link_to pet_path(pet) do %>
                <div class="pet-ad">
        <%= cl_image_tag pet.photos.first.key, crop: :fill, class:"pet-img-tag" %>
                    <div class="pet-infos">
                        <h2><%= pet.title %></h2>
                        <h3><%= pet.name %></h3>
                        <p><%= pet.price %>&euro;</p>
                    </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
    </div>
  </div>
      <button class="button-map">Show on map <i class="fa-regular fa-map"></i><%= link_to "", pets_path %></button>
</div>
