<div class="home">
  <div>

      <div class="home-bar">
        <div class="home-bar-item"><button type="button" class="btn btn-light"><i class="fa-solid fa-plus"></i><%= link_to " New Pet", new_pet_path%></button></div>
        <div class="home-bar-item"><div class="input-group rounded">
          <input type="search" class="form-control rounded" placeholder="Search for a pet" aria-label="Search" aria-describedby="search-addon" />
          <span class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search"></i>
          </span>
        </div>
        </div>
      </div>

    <div class="pet-grid">
      <h1>Find your new furry friend amongst our <% @pets.size %> pets</h1>
        <div class="row">
          <% @pets.each do |pet| %>

            <div class="co-12 col-sm-6 col-md-3 mb-3">

              <%= link_to pet_path(pet) do %>
                <div class="pet-ad">
                  <%=image_tag 'pomeranian.jpg', class: "pet-img-tag"%>
                    <div class="pet-infos">
                        <h2><%= pet.title %></h2>
                        <h3><%= pet.name %></h3>
                        <p><%= pet.price %>&euro;</p>
                    </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
    </div>
  </div>
      <button class="button-map">Show on map <i class="fa-regular fa-map"></i><%= link_to "", pets_path %></button>
</div>
