<div class="home">
  <div>

      <div class="home-bar">
        <div class="home-bar-item"><button type="button" class="input-group-text border-0"><i class="fa-solid fa-plus"></i><%= link_to " New Pet", new_pet_path%></button></div>
        <div class="home-bar-item">

        <form class="input-group rounded">
          <input class="form-control rounded" name="query" type="search" placeholder="Search" aria-label="Search" value="<%= params[:query] %>">
          <button class="input-group-text border-0" type="submit">Search</button>
        </form>


        </div>
      </div>

    <div class="pet-grid">

       <% if @query %>
          <p>You searched for <strong><%= @query %></strong>. We found <%= @pets.count %> pets matching your query on our website.</p>
        <% else %>
          <h1>Find your new furry friend amongst our <%= @pets.count %> pets</h1>
        <% end %>

        <div class="row row-cols-auto">
          <% @pets.each do |pet| %>
            <div class="col">
              <%= link_to pet_path(pet) do %>
                <div class="pet-ad mb-3">
                  <div id="carousel<%=pet.name%>" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <%= cl_image_tag pet.photos.first.key, crop: :fill, class:"pet-img-tag d-block w-100" %>
                      </div>
                      <% pet.photos[1..].each do |photo| %>
                        <div class="carousel-item">
                          <%= cl_image_tag photo.key, crop: :fill, class:"pet-img-tag d-block w-100" %>
                        </div>
                      <% end %>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel<%=pet.name%>" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel<%=pet.name%>" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>

                  <div class="pet-infos">
                      <h1><%= pet.title %></h1>
                      <h2><%= pet.name %></h2>
                      <hr>
                      <p><%= pet.price %>&euro; day</p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
    </div>
  </div>
      <button class="button-map">Show on map <i class="fa-regular fa-map"></i><%= link_to "", pets_path %></button>
</div>
