<div class="home">
  <div>
      <div class="home-bar">
        <div class="home-bar-item"><button type="button" class="input-group-text border-0"><i class="fa-solid fa-plus"></i><%= link_to " New Pet", new_pet_path%></button></div>
        <div class="home-bar-item">

        <form class="input-group rounded">
          <input class="form-control rounded" name="query" type="search" placeholder="Search" autocomplete="off" aria-label="Search" value="<%= params[:query] %> ">
          <button class="input-group-text border-0" type="submit">Search</button>
        </form>


        </div>
      </div>

    <div class="pet-grid">

       <% if @query %>
          <p>You searched for <strong><%= @query %></strong>. We found <%= @pets.count %> pets matching your query on our website.</p>
        <% else %>

          <p>Find your new furry friend among our <strong><%= @pets.count %></strong> pets</p>
        <% end %>


        <div class="row">
          <% @pets.each do |pet| %>

        <div class="col-12 col-sm-6 col-md-3 mb-3">

              <%= link_to pet_path(pet) do %>
                <div class="pet-ad mb-3">
                  <div id="carousel<%=pet.name%>" class="carousel carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <%= cl_image_tag pet.photos.first.key, crop: :fill, class:"pet-img-tag d-block w-100" %>
                      </div>
                      <% pet.photos[1..].each do |photo| %>
                        <div class="carousel-item">
                          <%= cl_image_tag photo.key, crop: :fill, class:"pet-img-tag d-block w-100" %>
                        </div>
                      <% end %>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel<%=pet.name%>" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel<%=pet.name%>" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                  </div>

                  <div class="pet-infos">
                      <%= link_to pet_bookmarks_path(pet), data: { "turbo-method": :post }, class: "heart" do %>
                        <i class="fa-regular fa-heart"></i>
                      <% end %>
                      <p><%= pet.title %></p>
                      <h3><%= pet.name %></h3>
                      <hr>
                      <p><span style="font-weight: 700;"><%= pet.price %>&euro;</span> day</p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
    </div>
  </div>

  <div style="width: 80%; height: 300px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

</div>
