<div class="container">
  <h1><%= @pet.title %></h1>
  <% @pet.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
</div>
<div class="container">

  <div class="row-cols-auto">
    <div class="row">
      <div class="col">

        <p>Name: <%= @pet.name %></p>
        <p>Age: <%= @pet.age %></p>
        <p>Species: <%= @pet.species %></p>
        <p>Price: <%= @pet.price %></p>
        <p>Description: <%= @pet.description %></p>
        
      </div>
      <div class="col">
        <%= render "bookings/form", booking: @booking, pet: @pet %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <%= link_to "Edit", edit_pet_path(@pet), class: "btn btn-primary" %>
  <%= link_to "Delete", pet_path(@pet), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-primary" %>
  <%= link_to "Back", pets_path, class: "btn btn-primary" %>
</div>
