
<%= simple_form_for [pet, booking], data: { controller: 'flatpickr' } do |f| %>
  <p><span id="price" style="font-weight: bold; font-size: 24px;" data-price=<%= pet.price %> >€<%= pet.price %></span> day</p>
  <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startTime", action: "change->flatpickr#input" } }, label: false, placeholder: "Start Date" %>
  <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endTime", action: "change->flatpickr#input" } }, label: false, placeholder: "End Date" %>
  <%= f.submit 'Book', class: "btn btn-primary btn-lg btn-block btn-booking" %>
  <hr>
  <p id="total-price" class="d-none pt-3" >Total price: <span data-flatpickr-target="totalPrice" style="font-size: 20px; font-weight: 500;"></span><span style="font-size: 20px; font-weight:500;">€</span></p>
<% end %>
